/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h2,
h3 {
  font-weight: var(--font-bold);
  font-size: var(--font-size);
  line-height: 130%;
  color: var(--title-text-color);
}
p {
  font-weight: var(--font-normal);
  font-size: var(--font-size);
  line-height: 130%;
}
/* вынес стили из main__section-title */

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: solid 1px transparent;
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  color: var(--button-color);
  font-family: var(--font), sans-serif;
  font-size: var(--font-size);
  text-transform: lowercase;
  background: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: solid 1px var(--button-hover-color);
}

.header__theme-menu-button_active:hover {
  border: solid 1px var(--button-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: solid 1px var(--button-color);
}

.header__theme-menu-button_active {
  border: solid 1px var(--button-color);
}

.header__title {
  font-family: var(--font), sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-bold);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
}

.title-text {
  font-family: var(--font), sans-serif;
  font-size: var(--font-size);
  font-weight: var(--font-bold);
  line-height: 23.4px;
  color: var(--title-text-color);
}

.header__title-container {
  align-self: center;
  justify-self: end;
  background-color: var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.decorative-corners::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: solid 1px var(--decorative-item-color);
  border-inline-end: solid 1px var(--decorative-item-color);
}

.decorative-corners::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: solid 1px var(--decorative-item-color);
  border-inline-start: solid 1px var(--decorative-item-color);
}

.decorative-title {
  display: var(--decorative-item-state);
  position: absolute;
  top: 10px;
  right: 38px;
  font-family: var(--font), sans-serif;
  font-weight: var(--font-normal);
  font-size: var(--font-size);
  line-height: 25px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.decorative-title::after {
  content: "";
  display: block;
  position: absolute;
  right: -19px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.main__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__container-section {
  font-family: var(--font), sans-serif;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__section-title {
  color: var(--section-title-color);
  /* теперь это доп стиль только для изменения цвета заголовка. */
}

.main__section-additional-title {
  margin-block-end: 10px;
}

.section__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__list-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__list-item {
  display: flex;
  flex-direction: column;
  min-block-size: auto;
  gap: 10px;
}

.section__list-item-text {
  color: var(--list-item-text-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  position: relative;
}

.link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: currentColor;
  text-underline-offset: 1px;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.thin-title {
  font-weight: var(--font-normal);
}

.main__container-gallery {
  display: grid;
  min-width: 375px;
  grid-template-columns: 1fr;
  padding-block-start: 0px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-end: 10px;
  gap: 10px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery-item {
  display: flex;
  margin: 0;
}

.gallery-image {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.footer__title {
  font-family: var(--font), sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-bold);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--footer-title-color);
}

@media (width >= 768px) {
  .content {
    gap: 40px;
  }

  .header {
    padding: 0px;
  }
  .header__theme-menu {
    padding-top: 20px;
    padding-right: 20px;
  }
  .decorative-corners::before {
    right: 20px;
    top: 20px;
  }
  .decorative-corners::after {
    bottom: 20px;
    left: 20px;
  }
  .decorative-title {
    top: 22px;
    right: 50px;
  }
  .header__title-container {
    max-width: 364px;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .main__container {
    gap: 80px;
  }

  .main__container-section {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    gap: 80px;
  }

  .section__list-block {
    grid-template-columns: 1fr 2fr;
  }

  .section__list-group-distractions {
    grid-row: 2;
    grid-column: 1 / -1;
  }

  .main__container-gallery {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-end: 20px;
    gap: 20px;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "sunset sunset icecream"
      "tape books icecream"
      "tape street street";
    gap: 20px;
  }

  .gallery-item:nth-child(1) {
    grid-area: sunset;
  }
  .gallery-item:nth-child(2) {
    grid-area: icecream;
  }
  .gallery-item:nth-child(3) {
    grid-area: tape;
  }
  .gallery-item:nth-child(4) {
    grid-area: books;
  }
  .gallery-item:nth-child(5) {
    grid-area: street;
  }
  .footer {
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .content {
    gap: 60px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
    padding-right: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title-container {
    max-width: 491px;
  }
  .section__list {
    gap: 12px;
  }
  .section__list-what-reduces-focus {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
  }

  .section__list-group-distractions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .main__container-gallery {
    padding-block-end: 0px;
  }

  .footer {
    padding: 0px 20px 0px 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
